/* app css stylesheet */

body {
  padding-top: 70px;
}

.main-content {
  padding: 0 15px;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.nav .badge {
  background-color: #d2322d;
}

.user-avatar {
  width: 100px;
  height: 100px;
  border: 1px dashed #999;
  border-radius: 5px;
}

.user-avatar-small {
  width: 50px;
  height: 50px;
}

a {
  cursor: pointer;
}

textarea {
  resize: vertical;
}

.action-cell {
  white-space: nowrap;
  width: 1px;
}

.panel-private {
  background-color: #fcf8e3;
}

.avatar-display-elem {
  background-color: #eee;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.list-inline > li:first-child.avatar-cell {
  padding-left: 5px;
}

.avatar-select-elem {
  border: 2px dotted #00f;
  border-radius: 5px;
  margin-top: 20px;
}

.avatar-select-elem img {
  height: 50px;
}

.avatar-select-elem:hover {
  border-color: #0DD;
}

.avatar-selected-elem {
  border: 2px solid #0FF;
}

.avatar-select-elem div {
  position: absolute;
}

.avatar-select-elem div div {
  display: none;
  position: absolute;
  left: -100px;
  text-align: center;
  width: 250px;
}

.avatar-select-elem:hover div div {
  display: inherit;
}

.name-slot {
  display: block;
  background-color: #000;
  padding: 6px;
  border: 1px solid #111;
  border-radius: 5px;
  color: white;
  margin-left: 8px;
  margin-right: 8px;
}

.avatar-locked-elem {
  margin-left: 64px;
  margin-right: 0px;
}

.avatar-inbox-elem {
  margin-left: 0;
}
