<h1>Emitir</h1>

<form role="form" name="EmitForm" class="form-horizontal" ng-submit="submit()">
  <div class="form-group">
    <textarea class="form-control" rows="25" ng-model="message" required></textarea>
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-warning" ng-click="generate()">Generar plantilla</button>
    <button type="submit" class="btn btn-success" ng-disabled="SendForm.$invalid">Enviar</button>
  </div>
</form>
