<div ng-if="message.prev">
  <div ng-show="prev" class="media">
    <a class="pull-left" href="./users/{{prev.from}}">
      <img class="media-object user-avatar" ng-src="{{'./img/' + user(prev.from).avatar}}" alt="{{user(prev.from).name}}">
    </a>
    <div class="media-body">
      <h4>{{prev.title}} &nbsp; <small>{{user(prev.from).name}}</small> <small ng-if="prev.to &amp;&amp; prev.to.length">&rarr; <span ng-repeat="target in prev.to">{{user(target).name}}</span></small> <span class="label label-default pull-right">{{prev.date | date:'short'}}</span></h4>
      <p ng-repeat="block in blocks(prev.data)">{{block}}</p>
    </div>
  </div>
  <p ng-hide="prev || prev === false">Loading...</p>
  <p ng-show="prev === false">Unable to display previous post. <a ng-click="getPrev()">Retry</a>.</p>
</div>

<h1>{{ternary(message.prev, 'Responder', 'Redactar')}}</h1>

<form role="form" name="SendForm" class="form-horizontal" ng-submit="submit()">
  <div class="form-group">
    <label class="col-sm-2 control-label" for="input-to">Para</label>
    <div class="col-sm-10">
      <ul class="list-inline">
        <li class="avatar-cell" ng-repeat="user in User.others">
          <div class="avatar-select-elem" ng-class="{'avatar-selected-elem': selected(user.uid)}" ng-click="select(user.uid)">
            <img src="./img/{{user.avatar}}" />
            <div>
              <div>{{user.name}}</div>
            </div>
          </div>
        </li><li class="avatar-cell ng-scope">
          <div class="avatar-select-elem avatar-locked-elem" nope="avatar-locked-elem" ng-class="{'avatar-selected-elem': !message.public}" ng-click="toggle_locked()">
            <img src="./img/{{message.public ? 'unlocked.png' : 'locked.png'}}" />
            <div>
              <div>{{message.public ? 'P&uacute;blico' : 'Privado'}}</div>
            </div>
          </div>
        </li><li class="avatar-cell ng-scope">
          <div class="avatar-select-elem avatar-inbox-elem" ng-class="{'avatar-selected-elem': message.finish}" ng-click="toggle_finish()">
            <img src="./img/{{message.finish ? 'inbox_0.png' : 'inbox_1.png'}}" />
            <div>
              <div>{{message.finish ? 'Finalizar conversaci&oacute;n' : 'Requerir respuesta'}}</div>
            </div>
          </div>
        </li>
      </ul>
      <span ng-if="!message.finish">(This message will require a reply from the recipient.)</span>
      <span ng-if="!message.public">(This message will be private. Usually this is bad!)</span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="input-title">Asunto</label>
    <div class="col-sm-10">
      <input type="text" id="input-title" ng-model="message.title" class="form-control" required>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-2 col-sm-10">
      <ul class="nav nav-tabs">
        <li ng-click="showWrite()" ng-class="state.write ? 'active' : ''"><a>Escribir</a></li>
        <li ng-click="showPreview()" ng-class="state.write ? '' : 'active'"><a>Ver</a></li>
      </ul>
    </div>
  </div>
  <div class="form-group" ng-show="state.write">
    <div class="col-sm-offset-2 col-sm-10">
      <textarea class="form-control" rows="15" ng-model="message.data" required></textarea>
    </div>
  </div>
  <div class="row" ng-if="!state.write">
    <div class="col-sm-offset-2 col-sm-10" markdown-preview="message.data"></div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="button" class="btn btn-warning" ng-disabled="SendForm.$pristine &amp;&amp; !dirty" ng-click="reset()">Reinicializar</button>
      <button type="submit" class="btn btn-success" ng-disabled="SendForm.$invalid || sending">Enviar</button>
    </div>
  </div>
</form>
