<div class="media" ng-if="uid !== undefined">
  <a class="pull-left" href="./users/{{uid}}">
    <img class="media-object user-avatar" src="{{'./img/' + user(uid).avatar}}" alt="{{user(uid).name}}">
  </a>
  <div class="media-body">
    <h1>{{user(uid).name}}</h1>
  </div>
</div>

<ul class="pager">
  <li ng-class="canNext() ? '' : 'disabled'" class="previous"><a href="/spanish/misterio/{{linkurl}}" ng-click="next()">&larr; Menos reciente</a></li>
  <li class="btn btn-success" ng-click="get()">Refrescar</li>
  <li ng-class="canPrev() ? '' : 'disabled'" class="next"><a href="/spanish/misterio/{{linkurl}}" ng-click="prev()">M&aacute;s reciente &rarr;</a></li>
</ul>

<div class="alert" ng-class="loading ? 'alert-warning' : 'alert-info'" ng-if="!messages.length">{{loading ? "Cargando..." : "No hay mesajes."}}</div>

<div class="media" ng-repeat="msg in messages">
  <a class="pull-left" href="./users/{{msg.from}}">
    <img class="user-avatar" src="{{'./img/' + user(msg.from).avatar}}" alt="{{user(msg.from).name}}">
  </a>
  <div class="media-body">
    <div class="panel panel-default" ng-class="msg.public ? '' : 'panel-private'">
      <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">{{msg.title}} &nbsp; <small>{{user(msg.from).name}} &rarr; <span ng-if="!(msg.to &amp;&amp; msg.to.length)">{{msg.public ? "Todos" : "Nadie"}}</span> <span ng-if="msg.to &amp;&amp; msg.to.length"><span ng-repeat="target in msg.to">{{user(target).name}} &nbsp;</span></span><span ng-if="!msg.public">(Privado)</span> <span ng-if="msg.finish">(Finalizado)</span></small></h4>
        <div class="pull-right">
          <h4><span class="label label-default" ng-if="access()">{{msg.id}}</span> <span class="label label-default">{{msg.date | date:'yyyy-MM-dd HH:mm:ss'}}</span></h4>
        </div>
      </div>
      <div class="panel-body clearfix">
        <div class="pull-right" ng-class="access() ? 'btn-group' : ''">
          <a style="margin-left: 5px;" href="./compose/{{msg.id}}" class="btn" ng-class="msg.finish ? 'btn-warning' : 'btn-primary'">Responder</a>
          <button class="btn btn-primary" ng-click="show(msg.id)" ng-if="access()">{{isshowing(msg.id) ? "Menos" : "M&aacute;s"}}</button>
          <button class="btn btn-danger" ng-click="delete(msg.id)" ng-if="access() && isshowing(msg.id)">Borrar</button>
          <button class="btn btn-warning pull-right" ng-click="finalize(msg.id)" ng-if="access() && isshowing(msg.id)">Finalize</button>
        </div>
        <div class="pull-left">
          <div markdown-preview="msg.data"></div>
          <div class="panel panel-default" ng-if="msg.prevobj">
            <div class="panel-heading clearfix">
              <h4 class="panel-title pull-left">{{msg.prevobj.title}} &nbsp; <small>{{user(msg.prevobj.from).name}} &rarr; <span ng-if="!(msg.prevobj.to &amp;&amp; msg.prevobj.to.length)">{{msg.prevobj.public ? "Todos" : "Nadie"}}</span> <span ng-if="msg.prevobj.to &amp;&amp; msg.prevobj.to.length"><span ng-repeat="target in msg.prevobj.to">{{user(target).name}} &nbsp;</span></span><span ng-if="!msg.prevobj.public">(Privado)</span> <span ng-if="msg.prevobj.finish">(Finalizado)</span></small></h4>
              <div class="pull-right">
                <h4><span class="label label-default">{{msg.prevobj.date | date:'yyyy-MM-dd HH:mm:ss'}}</span></h4>
              </div>
            </div>
            <div class="panel-body clearfix">
              <div markdown-preview="msg.prevobj.data"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ul class="pager">
  <li ng-class="canNext() ? '' : 'disabled'" class="previous"><a href="/spanish/misterio/{{linkurl}}" ng-click="next()">&larr; Menos reciente</a></li>
  <li ng-class="canPrev() ? '' : 'disabled'" class="next"><a href="/spanish/misterio/{{linkurl}}" ng-click="prev()">M&aacute;s reciente &rarr;</a></li>
</ul>
