<!DOCTYPE html>
<html lang="en" ng-app="misterio">
<head>
  <meta charset="utf-8">
  <base href="/">
  <title ng-bind="page.fullTitle()">Un Misterio en Toluca</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/app.css">
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a id="mystery-title" class="navbar-brand" href="#" ng-bind="page.title">Un Misterio en {{city}}</a>
      </div>
      <div class="collapse navbar-collapse" ng-controller="Navbar">
        <ul class="nav navbar-nav">
          <li><a nav-link="^/inbox$" href="./inbox">Inbox <span ng-cloak inbox-counter class="badge">...</span></a></li>
          <li><a nav-link="^/$" href="./">Correos <span ng-cloak feed-counter class="badge">...</span></a></li>
          <li><a nav-link="^/compose(/[0-9]+)?$" href="./compose">Redactar</a></li>
          <li><a nav-link="^/users$" href="./users">Personajes</a></li>
          <li ng-if="!access()"><a nav-link="^/users/2$" href="./users/2">Mensajes Importantes</a></li>
          <li ng-if="access()"><a nav-link="^/broadcast$" href="./broadcast">Emitir</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-cloak ng-if="User.user.session">
          <li class="btn-group">
            <button ng-repeat="inst in instances()" class="navbar-btn btn" ng-class="User.user.instance == inst ? 'btn-default' : 'btn-warning'" ng-click="selectInstance(inst)" ng-disabled="!access() || User.user.instance == inst">{{inst}}</button>
          </li>
          <li><div class="navbar-btn name-slot">{{username()}}</div></li>
          <li><button class="btn btn-default navbar-btn" ng-click="logout()">Salir</button></li>
        </ul>
      </div>
    </div>
  </div>

  <div class='modal-body' ng-if="false">
    Testing...
  </div>

  <div class="container">
    <div class="main-content">

      <div ng-controller="Flash">
        <noscript>
          <div class="alert alert-danger"><strong>JavaScript Disabled!</strong> This site uses JavaScript to provide an efficient and responsive interface, please enable JavaScript!</div>
        </noscript>
        <div ng-cloak ng-repeat="line in flash" class="alert" ng-class="line.class">
          <button ng-if="line.dismissable" type="button" class="close" ng-click="dismiss($index)" aria-hidden="true">&times;</button>
          <strong ng-if="line.info">{{line.info}} </strong>{{line.message}}
        </div>
      </div>

      <div ng-view></div>

    </div>
  </div>

  <!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script> -->
  <script src="lib/jquery/jquery.js"></script>
  <script src="lib/underscore/underscore.js"></script>
  <script src="lib/marked/marked.js"></script>
  <script src="lib/bootstrap/bootstrap.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="lib/angular/i18n/angular-locale_es-es.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
